version: "2"
authtoken: ${NGROK_AUTH_TOKEN}

tunnels:
  frontend:
    addr: 5173
    proto: http
    inspect: true
    
  backend:
    addr: 8080
    proto: http
    inspect: true
    schemes:
      - http
      - https
